<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="style/default.css" rel="stylesheet" type="text/css" >
        <title>Connections</title>
    </head>
    <body>
        <header>
            <a href="index.html"><img class="logo" src="images/logo.JPG" alt="logo"></a>
            <nav class="user_links">
                <a href="newConnection.html">Start New Connection</a> || <a href="newConnection.html">Login</a> || <a href="newConnection.html">Sign Up</a>
            </nav>  
        </header>
        <hr>
        <nav class="general_links">
            <a href="index.html">Home</a> || <a href="connections.html">Connections</a>
        </nav>         
        <main>
            <h2>Connections:</h2>
            <h3>Circles</h3>
            <ul class="connection_list">
                <li><a href="connection.html">Circle 1: No Edges Are OK</a></li>
                <li><a href="connection.html">Circle 2: Rolling for success</a></li>
                <li><a href="connection.html">Circle 3: Wheels, circles but as transportation</a></li>
            </ul>
            <h3>Quadrilaterals</h3>
            <ul class="connection_list">
                <li><a href="connection.html">Squares: A bit of everything</a></li>
                <li><a href="connection.html">Trapizods:  The fun cousins of squares</a></li>
                <li><a href="connection.html">Rectangles: Long lasting shapes</a></li>
            </ul>
        </main>
        <footer>
            <h3>&copy; Cool Squares Incorporated</h3>
        </footer>
    </body>
</html>